/* My Styles */

header{
	position:relative;
}
header h1{
	position:absolute;
	left:30px;
	bottom:0;
	font-size:2em;
}
.eagle{
	position:absolute;
	left:30px;
	bottom:220px;
}

.button-group li > button, .button-group li .button{
	border-radius: 2px;
	background: red;

}

/*col 2*/
.tabs-content{
	border: 1px solid black;
    border-top: none;
    padding:10px;
}
/*column 2 style*/
.panel.callout {
	background: rgba(86, 135, 153, 0.74);
}

.reveal-modal-bg{
	background: black;
}

/*orbit slider*/

.orbit-container .orbit-slides-container li .orbit-caption{
	background-color: red;
	padding:20px;
}