/* My Styles */
body{
	background: url("http://bwells6.github.io/p2-user-style-tile/img/congruent_pentagon.png");
	color:gray;
	font-family: 'Poiret One', cursive;
}
h2, h3{
	font-family: 'Poiret One', cursive;
	color:#EE3624;
}

header{
	position:relative;
}
header h1{
	position:absolute;
	left:30px;
	bottom:0;
	font-size:3em;
	color:#EE3624;
	font-family: 'Kristi', cursive;
}
.eagle{
	position:absolute;
	left:30px;
	bottom:220px;
}

.button-group li > button, .button-group li .button{
	border-radius: 2px;
	color:#EE3624;
	background: #DDCAB3;
	font-family: 'Poiret One', cursive;
}

.button-group li > button, .button-group li .button:hover{
	background: #2AC476;
}
label {
  display:block;
  font-family: 'Poiret One', cursive;
}
.button-bar{
	float:right;
	
}
#chord{
	height:400px;
	color:red;
}

/*col 2*/
.tabs-content{
	border: 1px solid black;
    border-top: none;
    padding:10px;
}
/*column 2 style*/
.panel.callout {
	background: #DDCAB3;
	font-family: 'Poiret One', cursive;
}

.accordion dd.active > a{
	background: red;
}

.reveal-modal-bg{
	background: black;
}






